.home--container{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home--container p{
    font-size:22px;
    margin-top: 10px;
    font-weight: lighter;
}

.home--container button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4C63AA;
    color: white;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    width:120px;
    border-radius: 20px;
}

.home--container button > a{
    text-decoration: none;
    color: white;
}