
.container--page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.container--content img{
    height: 400px;
    width: 500px;
}

.container--description {
    text-align: center;
}

.container--description h1 {
  font-size: 40px;
}

.container--description h3 {
  font-size: 30px;
}

.container--description button{
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}

h1,h5{
    padding: 5px;
}

.container--description button:hover{
    color: #39ac31 !important;
    padding: 10px 20px;
    background: #fff;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #39ac31;
    cursor: pointer;

  }
  
